<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1"/>
    <machineKey decryption="AES" decryptionKey="E336895441EC91EB6ED29C1645BE725BD4EEBF911C428025" validation="HMACSHA256" validationKey="1CE50EC24BDDBAD9FE72D0D73143E86DCE7925592A9FE7E56440296CE6FA74DC0ABF8E2312"/>
    <authentication mode="Forms"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpBinding_IService3"/>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpBinding_IService11"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar17.fulton.asu.edu/Page0/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ExclusiveServices.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://webstrar17.fulton.asu.edu/Page3/Service3.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="WeatherService.IService3" name="BasicHttpBinding_IService3"/>
      <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/ImageVerifierService/Service.svc" binding="basicHttpsBinding" contract="ImageVerifierService.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://webstrar17.fulton.asu.edu/Page6/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="CurrencyConverterService.IService1" name="BasicHttpBinding_IService11"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>